<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<header>
    <section id="conteiner_cabecalho">
       <div>
         <a href="/"><img id="logo" src="/img/Logotipo de Espaço de Beleza Cosméticos Delicado (8) 1.png" alt="Logo LanggGlow"></a>
       </div>
  
       <ul id="conteiner_informacoes">
         <li id="primeira_linha">
            <p id="bemVindo">
               <%= cliente ?`Bem vindo ${cliente.nome} à Langglow!` : ''%>
            </p>
        </li>
          <li>
             <a href='/login'> <img src="/img/perfil_do_usario.png" alt="icone do usuario"></a>
          </li>
            <li id="conteiner_pesquisa_sacola">
               <p class="pesquisa_sacola">
                  <a href='#'> <img src="/img/icone_pesquisa.png" alt="icone de pesquisa"></a>
               </p>
               <p class="pesquisa_sacola">
                  <a href='/carrinho'> <img src="/img/sacola (2).png" alt="icone de sacola"></a>
               </p>
            </li>
       </ul>
       </div>
    </section>
    <section id="conteiner_nav">
       <nav>
          <ul>
             <li><a href="#">Skincare</a></li>
             <li><a href="#">Rosto</a></li>
             <li><a href="#">Lábios</a></li>
             <li><a href="#">Olhos</a></li>
             <li><a href="#">Lançamentos</a></li>
             <li><a href="#">Promoções</a></li>
          </ul>
       </nav>
    </section>
 </header>
<body>
        <div class="carousel fade"></div>
        <input type="text" id="todos" disabled="disabled" value="Todos" />
        <main >
        <section class="container">  
                <% for(let p of produtos){ %>
                    <div class="produto">
                        <a href="/produto/<%= p.id%>">
                            <img src="img/<%= p.img%>" alt="<%= p.nome%>">
                            <div class="bloco">
                                <p id="saber">
                                    Clique para saber mais
                                </p>
                                <p class="produto-nome">
                                    <%= p.nome%>
                                </p>
                                <p class="produto-preco">R$ <%= p.preco%>
                                </p>
    
                            </div>
                            <a href="/">
                                <button class="favoritar">
                                    <img id="estrela" src="img/estrela.png" alt="estrela">
                                    Favoritar
                                </button>
                            </a>
                            
                        </a>
                    </div>
                    <% } %>
            </section>
           
        </main>
        <section id="pre-footer">
            <article id="categorias">
                <ul>
                    Categorias:
                    <li><a href="#">Skincare</a></li>
                    <li><a href="#">Rosto</a></li>
                    <li><a href="#">Lábios</a></li>
                    <li><a href="#">Olhos</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="#">Promoções</a></li>
                </ul>
            </article>
            <article id="contato">
                <ul>
                    <li>
                        Atendimento ao Cliente
                    </li>
                    <li>
                        Central SAC: (31) 1234-5678
                    </li>
                    <li>
                        Email: faleconosco@langglow.com
                    </li>
                    <div class="redesSociais">
                        <ul>
                            <h1>REDES SOCIAIS</h1>
                            <a href="https://www.instagram.com/langglow/"><img src="/img/insta.png" alt=""></a>
                            <a href=""><img src="/img/twitter.png" alt=""></a>
                            <a href="" ><img src="/img/facebook.png" alt=""></a>
                        </ul>
                    </div>
            </article>

        </section>
        <footer>
            Devolopers<br>
            <div id="robos">
                <p> <a href="https://github.com/Geovannalessa"><img src="/img/robo.png" alt=""></a> </p>
                <p> <a href="https://github.com/nati3054"><img src="/img/robo.png" alt=""></a></p>
                <p> <a href="https://github.com/Gabs-ag"><img src="/img/robo.png" alt=""></a> </p>
                <p> <a href="https://github.com/AnaCarolll"><img src="/img/robo.png" alt=""></a></p>
                <p> <a href="https://github.com/LalaGomes"><img src="/img/robo.png" alt=""></a></p>
            </div>
            <div id="instituicoes">
                <p><a
                        href="https://www.digitalhouse.com/br?utm_source=google&utm_medium=paidsearch&utm_campaign=lead&utm_term=institucional&utm_content=b2c-institucional-curso-landing-texto-lead-kw-institucional-defrase-keyword-all-other-text-carreer-none-none-all-br-search-none&gclid=CjwKCAjwv4SaBhBPEiwA9YzZvLtGrOFPIsJd0EINPYLAdLXe3FQvaQXmI8uYxo-5HBjkkLFWGUs_gRoCT8oQAvD_BwE"><img
                            src="/img/dh.png" alt="curso DH que nos trouxe o ginho menorqtres"></a></p>
                <p><a href="https://programadoresdoamanha.org"><img src="/img/progAmanha.png"
                            alt="o curso que mudou nossas vidas"></a></p>
                <p><a href="https://github.com/sergiomoura"><img src="/img/ginho.png" alt="nosso querido professor"></a>
                </p>
            </div>
            
        </footer>
        <script>
            const images = [
                "https://images.pexels.com/photos/2537930/pexels-photo-2537930.jpeg?auto=compress&cs=tinysrgb&w=1600",
                "https://images.pexels.com/photos/2253834/pexels-photo-2253834.jpeg?auto=compress&cs=tinysrgb&w=1600",
                'https://images.pexels.com/photos/301367/pexels-photo-301367.jpeg?auto=compress&cs=tinysrgb&w=1600',
                'https://images.pexels.com/photos/3018845/pexels-photo-3018845.jpeg?auto=compress&cs=tinysrgb&w=1600',
                'https://images.pexels.com/photos/2113855/pexels-photo-2113855.jpeg?auto=compress&cs=tinysrgb&w=1600',
                'https://images.pexels.com/photos/1438065/pexels-photo-1438065.jpeg?auto=compress&cs=tinysrgb&w=1600',
                'https://images.pexels.com/photos/1327689/pexels-photo-1327689.jpeg?auto=compress&cs=tinysrgb&w=1600',
                'https://images.pexels.com/photos/2721977/pexels-photo-2721977.jpeg?auto=compress&cs=tinysrgb&w=1600'

            ];
            const carousel = document.querySelector(".carousel");
            const interval = setInterval(function () {
                startCarousel();
            }, 3000);
            var index = 1;

            startCarousel = () => {
                carousel.style.backgroundImage = `url(${images[index++]})`;
                carousel.classList.remove("fade");
                void carousel.offsetWidth;
                carousel.classList.add("fade");
                if (index > images.length - 1) index = 0;
            }
        </script>
</body>

</html>