<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/produtoInterno.css">
    <title>Produto Interno</title>
</head>

<body>
    <%- include("parts/header.ejs") %>
    <main>
        <article id="imagens_descricao">
            <section id="imagens">
                <div class="content">
                    <div class="slides">
                        <input type="radio" name="slide" id="slide1" checked>
                        <input type="radio" name="slide" id="slide2">
                        <input type="radio" name="slide" id="slide3">

                        <div class="slide s1">
                            <img src="img/<%= produto.img %>" alt="<%= produto.nome%>">
                        </div>
                        <div class="slide">
                            <img src="img/<%= produto.img1 %>" alt="<%= produto.nome%>">
                        </div>
                        <div class="slide">
                            <img src="img/<%= produto.img2 %>" alt="<%= produto.nome%>">
                        </div>
                    </div>
                    <div class="navigation">
                        <label class="bar" for="slide1"></label>
                        <label class="bar" for="slide2"></label>
                        <label class="bar" for="slide3"></label>
                        
                    </div>
                </div>
            </section>

            <section id="descricao">

                <h2>
                    <%=produto.nome%>
                </h2>
                <p>
                    <%= produto.descricao%>
                </p>
                <ul id="preco">
                    <li id="preco_alto">
                        <%= produto.preco%>
                    </li>
                    <li>
                        6x De R$8,33
                    </li>
                </ul>

                <form action="/carrinho" method="post">
                    <table summary="Tabela de quantidade de produto">
                        <thead>
                            <tr>
                                <th id="quantidade" colspan="3" align="start">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody id="inf_produto">
                            <tr>
                                <td class="inf">
                                    <%= produto.nome%>
                                </td>
                                <td class="inf">R$ <%= produto.preco%>
                                </td>
                                <td class="inf" align="center">
                                    <button type="button" id="Menos" class="mais_e_menos">-</button>
                                    <input type="text" name="inputQtd" id="qtd" value="1">
                                    <button type="button"  id="Mais" class="mais_e_menos">+</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr align="center">

                                <input type="hidden" name="id" id="id" value="<%= produto.id%>">
                                <td id="botao_carrinho" colspan="3"><button type="submit">Adicionar Ao Carrinho</button></td>

                            </tr>
                        </tfoot>
                    </table>
                </form>
            </section>

        </article>
        <article id="detalhamento">
            <article id="titulos_detalhamento">
                <p id="detalhes" class="destaque">Detalhes</p>
                <p id="composicao" class="destaque">Composição</p>
                <p id="precaucao" class="destaque">Precaução</p>
            </article>
            <section id="texto_detalhamento">
                <p id="textoDetalhes">
                    Paleta de sombras Soft Nude tem 17 sombras, e 1 primer para olhos, sendo 10 opacas (Strip, Flirt,
                    Private, Perform,
                    Young Love, Dark Matter, Nap, Diva, Rubin E In love), 2 glitters prensados (Glamory e Wow) 5 e
                    cintilantes (Wish, Dream,
                    Fantasy e Chic), com tons rosados e nude maravilhosos, são infinitas possibilidades de make! Sua
                    pigmentação é incrível
                    e a textura da sombra é super aveludada e macia.
                    <br>

                    Referência: HB-1045<br>
                    Peso: 0,8g cada<br>
                    Dimensões: A 10 x L 17 x C 1
                </p>

            </section>

        </article>
        <section id="pre-footer">
            <article id="categorias">
                <ul>
                    Categorias:
                    <li><a href="#">Skincare</a></li>
                    <li><a href="#">Rosto</a></li>
                    <li><a href="#">Lábios</a></li>
                    <li><a href="#">Olhos</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="#">Promoções</a></li>
                </ul>
            </article>
            <article id="contato">
                <ul>
                    <li>
                        Atendimento ao Cliente
                    </li>
                    <li>
                        Central SAC: (00) 0000-0000
                    </li>
                    <li>
                        Email: faleconosco@langglow.com
                    </li>
            </article>
        </section>
    </main>
    <footer>
        Devolopers<br>
        <div id="robos">
            <p> <a href="https://github.com/Geovannalessa"><img src="img/robo.png" alt=""></a> </p>
            <p> <a href="https://github.com/nati3054"><img src="img/robo.png" alt=""></a></p>
            <p> <a href="https://github.com/Gabs-ag"><img src="img/robo.png" alt=""></a> </p>
            <p> <a href="https://github.com/AnaCarolll"><img src="img/robo.png" alt=""></a></p>
            <p> <a href="https://github.com/LalaGomes"><img src="img/robo.png" alt=""></a></p>
        </div>
        <div id="instituicoes">
            <p><a
                    href="https://www.digitalhouse.com/br?utm_source=google&utm_medium=paidsearch&utm_campaign=lead&utm_term=institucional&utm_content=b2c-institucional-curso-landing-texto-lead-kw-institucional-defrase-keyword-all-other-text-carreer-none-none-all-br-search-none&gclid=CjwKCAjwv4SaBhBPEiwA9YzZvLtGrOFPIsJd0EINPYLAdLXe3FQvaQXmI8uYxo-5HBjkkLFWGUs_gRoCT8oQAvD_BwE"><img
                        src="img/dh.png" alt="curso DH que nos trouxe o ginho menorqtres"></a></p>
            <p><a href="https://programadoresdoamanha.org"><img src="img/progAmanha.png"
                        alt="o curso que mudou nossas vidas"></a></p>
            <p><a href="https://github.com/sergiomoura"><img src="img/ginho.png" alt="nosso querido professor"></a></p>
        </div>
    </footer>
    <script>
        const menos = document.getElementById("Menos");
        const mais = document.getElementById("Mais");
        let qtd = document.getElementById("qtd");
        let textoDet = document.getElementById("texto_detalhamento");
        let detalhes = document.getElementById("detalhes");
        let composicao = document.getElementById("composicao");
        let precaucao = document.getElementById("precaucao");

        menos.addEventListener("click", diminuirQtd);
        qtd.addEventListener("keypress", input);
        mais.addEventListener("click", adicionarQtd);
        detalhes.addEventListener("click", mudarDetalhes);
        composicao.addEventListener("click", mudarComposicao);
        precaucao.addEventListener("click", mudarPrecaucao);

        function diminuirQtd() {
            let total = Number(qtd.value) - 1;
            qtd.value = total;
            if (total == 0) {
                menos.setAttribute('disabled', '');
            }
            mais.removeAttribute('disabled');
            if (total < 10) {
                qtd.style.width = "13px";

            }
        }
        function input(e) {
            let total = qtd.value;
            if (e.key === "Enter") {
                if (total < 1) {
                    alert("digite uma quantidade possivel!");
                    qtd.value = 1;
                }
                if (total == 99) {
                    alert("A quantidade máxima do produto é 99 unidades");
                    qtd.value = 1;
                }
            }
        }
        function adicionarQtd() {
            menos.removeAttribute('disabled');
            let total = Number(qtd.value) + 1;
            qtd.value = total;
            if (total == 99) {
                mais.setAttribute('disabled', '');
            }
            if (total > 9) {
                qtd.style.width = "16px";
            }
        }
        function mudarDetalhes() {
            detalhes.classList.add("destaques");
            // detalhes.classList.toggle("destaques"); interruptor liga e desliga
            textoDet.innerHTML = '<p> <%= produto.detalhes %> </p>'
            composicao.classList.remove("destaques")
            precaucao.classList.remove("destaques")

            if (detalhes != detalhes) {

                console.log("funciona?")
            }

        }
        function mudarComposicao() {
            composicao.classList.add("destaques");
            detalhes.classList.remove("destaques")
            precaucao.classList.remove("destaques")
            textoDet.innerHTML = '<p> <%= produto.composicao %> </p>'
        }
        function mudarPrecaucao() {
            precaucao.classList.add("destaques");
            composicao.classList.remove("destaques")
            detalhes.classList.remove("destaques")
            //ESCREVI PRECAUCAO ERRADO NO SQL HEH
            textoDet.innerHTML = '<p> <%= produto.precausao %> </p>'
        }
    </script>
</body>

</html>